body {
  background: #292c2a;
  color: #000000;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  line-height: 1.2;
}

header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}

.h1-site-name {
  font-size: 25px;
  font-family: "Barrio", system-ui;
  text-wrap: wrap;
}

.logo-name-box {
  display: flex;
  align-items: center;
  max-width: 70%;
  gap: 2px;
}

.logo-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 4px;
}

.nav-links {
  display: none;
}

.hamburger {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: #000000 solid 3px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  border-radius: 10px;
  font-size: larger;
  font-weight: 700;
  text-align: center;
}

.big-news-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
}

.big-news {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  align-items: center;
  text-align: left;
  padding: 6px;
  margin: 4px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.big-article {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.big-img {
  display: flex;
  width: 200px;
  border: solid 0.5px gray;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.big-news p {
  font-size: 18px;
}

.small-news-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6px;
  justify-items: center;
  margin: 0 auto;
  margin-top: 12px;
  padding: 4px;
}

.small-news {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 90%;
  align-items: center;
  text-align: left;
  padding: 12px;
}

.small-img {
  display: flex;
  width: 240px;
  border: solid 0.5px darkslategray;
}

.expand-button {
  background: black;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

/* Initial state for expandable content */
.body-content {
  display: none;
}

/* Expanded state for expandable content */
.body-content.expanded {
  display: block;
  margin-top: 12px;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}

.close-button {
  background-color: darkslategrey;
  color: white;
  width: 120px;
  text-align: center;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.home-button {
  width: 40%;
  background: darkblue;
  color: white;
  width: 120px;
  text-align: center;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


@media (min-width: 668px) and (max-width:1024px) {

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  a {
    padding: 0 8px;
    text-decoration: none;
    font-family: "Barrio", system-ui;
    font-weight: 700;
    font-size: 20px;
    color: darkred;
  }

  .big-news {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .big-article {
    display: flex;
    flex-direction: column;
  }

  .big-img {
    width: 225px;
  }

  .small-news-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .small-news {
    display: flex;
    width: 95%;
    align-items: center;
    text-align: left;
  }

  .small-img {
    display: flex;
    width: 280px;
  }

}

@media (min-width: 1025px) {

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  a {
    padding: 0 8px;
    text-decoration: none;
    font-family: "Barrio", system-ui;
    font-weight: 700;
    font-size: 20px;
    color: rgb(94, 0, 0);
  }

  .big-news {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .big-article {
    display: flex;
    flex-direction: column;
  }

  .big-img {
    width: 255px;
  }

  .small-news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
  }

  .small-img {
    display: flex;
    width: 240px;
  }

}