body {
  background: #182932;
  color: #141132;
  margin: 1px;
  font-family: "Libre Baskerville", serif;
  line-height: 1.2;
}

header {
  background: #7b7a7b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}

.h1-site-name {
  font-size: 25px;
  font-family: "Barrio", system-ui;
  text-wrap: wrap;
}

.logo-name-box {
  display: flex;
  align-items: center;
  max-width: 70%;
  gap: 2px;
}

.logo-img {
  border-radius: 100%;
  max-width: 75px;
  max-height: 75px;
  padding: 4px;
}

.nav-links {
  display: none;
}

.hamburger {
  background: #58562a;
  color: rgb(210, 253, 57);
  border: #f0f8d4 solid 2px;
  display: block;
  cursor: pointer;
  margin-left: auto;
}

.big-news-box {
  display: flex;
  justify-content: center;
  background: rgb(185, 185, 185);
  width: 100%;
}

.big-news {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 72, 12);
  width: 95%;
  align-items: center;
  text-align: left;
  padding: 6px;
  margin-top: 4px;
}

.big-img {
  background: #e1e0eaa9;
  display: flex;
  max-height: 300px;
  width: 100%;
  border-radius: 20px;
}

h2 {
  font-size: 22px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.big-news p {
  font-size: 18px;
}

p {
  margin-top: 0;
}

.small-news-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6px;
  background: #696968;
  justify-items: center;
}

.small-news {
  display: flex;
  flex-direction: column;
  background: rgb(116, 158, 144);
  border-radius: 20px;
  width: 95%;
  align-items: center;
  text-align: left;
  padding: 6px;
  margin-top: 4px;
}

.small-img {
  display: flex;
  width: 90%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.expand-button {
  background: #ff0073;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Initial state for expandable content */
.body-content {
  display: none;
}

/* Expanded state for expandable content */
.body-content.expanded {
  display: block;
  margin-top: 12px;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
}

.close-button {
  width: 40%;
  background-color: #260101;
  color: white;
  text-align: center;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.home-button {
  width: 40%;
  background: #fde7e7;
  color: white;
  text-align: center;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


@media (min-width: 668px) and (max-width:1024px) {

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  a {
    padding: 0 8px;
    text-decoration: none;
    font-family: "Barrio", system-ui;
    font-weight: 700;
    font-size: 20px;
    color: darkred;
  }

  .big-news {
    background: rgb(100, 99, 100);
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .big-article {
    display: flex;
    flex-direction: column;
  }

  .big-news-img {
    max-height: 35%;
    max-width: 35%;
    padding: 2px;
    border-radius: 20px;
  }

  .small-news-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: start;
    margin: 10px;
    width: 100%;
    gap: 1px;
    border-radius: 20px;
    max-height: fit-content;
    background: #919a72;
    padding: 10px;
  }
}

@media (min-width: 1025px) {

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  a {
    padding: 0 8px;
    text-decoration: none;
    font-family: "Barrio", system-ui;
    font-weight: 700;
    font-size: 20px;
    color: darkred;
  }

  .big-news {
    background: rgb(103, 101, 101);
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .big-article {
    display: flex;
    flex-direction: column;
  }

  .big-news-img {
    max-height: 35%;
    max-width: 35%;
    padding: 2px;
    border-radius: 20px;
  }

  .small-news-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: flex-start;
    text-align: start;
    margin: 10px;
    width: 100%;
    gap: 1px;
    border-radius: 20px;
    max-height: fit-content;
    background: #f0f8d4;
    padding: 10px;
  }

}